{
  extends: ['standard', 'standard-jsx'],
  rules: {
    'react/prop-types': 0,
    'react/react-in-jsx-scope': 0,
    'react/no-unknown-property': 0,
    'no-unused-vars': [2, { vars: 'all', args: 'none', varsIgnorePattern: '^element$' }]
  }
}
